<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>个人中心</title>
	<!-- 导入样式 -->
	<link rel="stylesheet" href="./../../utils/element-plus/element-plus.min.css">
	<link rel="stylesheet" href="./../../style/style.css">
	<link rel="stylesheet" href="./style.css">
	<!-- 导入 Vue 3 -->
	<script src="./../../utils/vue.min.js"></script>
	<!-- 导入组件库 -->
	<script src="./../../utils/element-plus/element-plus.min.js"></script>
</head>

<body>
	<div id="app">
		<el-container style="max-width: 100vw;min-height: 100vh;">
			<el-header>
				<myheader></myheader>
			</el-header>
			<el-main class="main">
				<div class="container">
					<div class="userInfo">
						<!-- 修改头像 -->
						<div class="userInfo-avatar">
							<el-avatar class="avatar" :src="'./../../assets/img/Avatar/'+avatarActive+'.png'"></el-avatar>
							<img ref="popoverRef" class="edit" src="./../../assets/img/Avatar/edit.png" alt="" />
						</div>
						<p class="userInfo-name">
							<span>{{date}}，用户名！</span>
							<span>20000@email.com</span>
						</p>
					</div>
					<el-tabs v-model="activeName" @tab-click="handleClick">
						<el-tab-pane label="用户中心" name="first" class="userCenter">
							<el-form ref="ruleFormRef" label-position="top" :model="userCenter.ruleForm" status-icon
								:rules="userCenter.rules" label-width="120px" class="demo-ruleForm">
								<el-form-item required label="姓名" prop="name">
									<el-input v-model="userCenter.ruleForm.name" type="text" placeholder="请输入您的姓名"></el-input>
								</el-form-item>
								<el-form-item required label="手机号" prop="phone">
									<el-input v-model="userCenter.ruleForm.phone" type="text" placeholder="请输入您的手机号"></el-input>
								</el-form-item>
								<el-form-item required label="电子邮箱" prop="email">
									<el-input v-model="userCenter.ruleForm.email" type="text" placeholder="请输入您的邮箱"></el-input>
								</el-form-item>
								<el-form-item label="公司/组织" prop="company">
									<el-input v-model="userCenter.ruleForm.company" type="text" placeholder="请输入您的公司/组织"></el-input>
								</el-form-item>
								<el-form-item required label="密码" prop="password">
									<el-input v-model="userCenter.ruleForm.password" :show-password="true" type="password"
										placeholder="请输入您的密码"></el-input>
								</el-form-item>
								<el-form-item>
									<el-button class="submit" color="#8361bb" size="large" type="primary"
										@click="submitForm(ruleFormRef)">
										保存更改</el-button>
								</el-form-item>
							</el-form>
						</el-tab-pane>
						<el-tab-pane label="发布中心" empty-text="暂无发布记录" name="second">
							<el-table :data="pubCenter.tableData" style="width: 100%;margin-top: 32px;" height="400px">
								<el-table-column width="100" label="#" prop="id"></el-table-column>
								<el-table-column width="100" label="发布时间" prop="releaseDate"></el-table-column>
								<el-table-column width="200" label="项目名称" prop="proName"></el-table-column>
								<el-table-column width="100" label="项目类型" prop="proType"></el-table-column>
								<el-table-column width="100" label="项目种类" prop="proCategory"></el-table-column>
								<el-table-column width="100" label="项目周期" prop="proCycle"></el-table-column>
								<el-table-column width="100" label="数据查看" prop="dataView"></el-table-column>
								<el-table-column width="100" label="单价" prop="price"></el-table-column>
								<el-table-column width="100" label="结算方式" prop="settMethod"></el-table-column>
								<el-table-column width="200" fixed="right" label="操作" prop="signContract">
									<template #default>
										<el-button type="text" size="small" @click="handleSee">查看</el-button>
										<el-button @click="handleOffline" type="text" size="small">下线</el-button>
										<el-button @click="handleEdit" type="text" size="small">编辑</el-button>
										<el-button @click="handleDelete" type="text" size="small">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
							<div class="pagination">
								<el-pagination layout="prev, pager, next" :total="50"></el-pagination>
							</div>
						</el-tab-pane>
						<el-tab-pane label="收藏中心" name="third">
							<el-table :data="collCenter.tableData" empty-text="暂无收藏项目" style="width: 100%;margin-top: 32px;" height="400px">
								<el-table-column width="100" label="#" prop="id"></el-table-column>
								<el-table-column width="100" label="发布时间" prop="releaseDate"></el-table-column>
								<el-table-column width="200" label="项目名称" prop="proName"></el-table-column>
								<el-table-column width="100" label="项目类型" prop="proType"></el-table-column>
								<el-table-column width="100" label="项目种类" prop="proCategory"></el-table-column>
								<el-table-column width="100" label="项目周期" prop="proCycle"></el-table-column>
								<el-table-column width="100" label="数据查看" prop="dataView"></el-table-column>
								<el-table-column width="100" label="单价" prop="price"></el-table-column>
								<el-table-column width="100" label="结算方式" prop="settMethod"></el-table-column>
								<el-table-column width="100" fixed="right" label="操作" prop="signContract">
									<template #default>
										<el-button type="text" size="small" @click="handleClickColl">
											取消收藏
										</el-button>
									</template>
								</el-table-column>
							</el-table>
							<div class="pagination">
								<el-pagination layout="prev, pager, next" :total="50"></el-pagination>
							</div>
						</el-tab-pane>
					</el-tabs>
				</div>
			</el-main>
			<el-footer>
				<myfooter></myfooter>
			</el-footer>
		</el-container>
		<qrcode></qrcode>
		<!-- 头像修改 -->
		<el-popover :virtual-ref="popoverRef" :width="600" trigger="click" placement="bottom" virtual-triggering
			popper-style="box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px; padding: 20px;">
			<template #default>
				<el-row :gutter="20">
					<el-col :span="6" v-for="item in avatar" style="text-align: center;margin: 12px 0;">
						<el-avatar :size="100" @click="handleAvatarSelect(item)">
							<img :src="'./../../assets/img/Avatar/'+item+'.png'" alt="">
							<p v-if="item == avatarActive" class="avatar-active">
								<svg class="icon-avatar-active" viewBox="0 0 1024 1024">
									<path
										d="M0 640.9C94.2 584.7 188.4 528.5 282.6 472.2c45.5 87.1 91.2 174.4 136.7 261.5 0.1 0.1 118.7-250.8 222.1-389.5C751.3 196.7 842.9 86.4 993.7 27c-16.3 46.4-20.8 89.6-20.8 162 2.6 57.5 13.3 112.7 50.7 199.5-72.7 33.5-140.7 76.2-175.6 106.3-48.3 41.7-92.5 89.6-136.8 136C611.3 745 559.6 810 437 996.5c-90.9-109.9-115.3-132.2-186.3-194.1C164.8 727.6 116.6 697.6 0 640.9z m0 0">
									</path>
								</svg>
							</p>
						</el-avatar>

					</el-col>
				</el-row>
			</template>
		</el-popover>
		<!-- 编辑 -->
		<el-dialog v-model="pubCenter.dialogVisibleEdit" title="编辑" width="1000px" :before-close="handleClose">
			<el-form ref="ruleFormRef" label-position="top" :model="edit.ruleForm" :rules="edit.rules" label-width="120px"
				class="demo-ruleForm" :size="formSize">
				<el-form-item prop="proPublisher">
					<template #label>
						01<span class="label">项目发布方</span>
						<p class="label-tips">您的公司或团队名称</p>
					</template>
					<el-input v-model="edit.ruleForm.proPublisher"></el-input>
				</el-form-item>
				<el-form-item prop="proName">
					<template #label>
						02<span class="label">项目名称</span>
						<p class="label-tips">请输入标题如：图片拉框急找团队</p>
					</template>
					<el-input v-model="edit.ruleForm.proName"></el-input>
				</el-form-item>
				<el-form-item prop="proType">
					<template #label>
						03<span class="label">项目类型</span>
					</template>
					<el-radio-group v-model="edit.ruleForm.proType">
						<el-radio v-for="item in radio.proType" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="proCategory">
					<template #label>
						04<span class="label">项目种类</span>
					</template>
					<el-radio-group v-model="edit.ruleForm.proCategory">
						<el-radio v-for="item in radio.proCategory" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="proCycle">
					<template #label>
						05<span class="label">项目周期</span>
						<p class="label-tips">请输入时间如：12个月</p>
					</template>
					<el-input v-model="edit.ruleForm.proCycle"></el-input>
				</el-form-item>
				<el-form-item prop="proAddress">
					<template #label>
						06<span class="label">项目地点</span>
						<p class="label-tips">请填写工作的城市</p>
					</template>
					<el-input v-model="edit.ruleForm.proAddress"></el-input>
				</el-form-item>
				<el-form-item prop="dataView">
					<template #label>
						07<span class="label">数据查看</span>
					</template>
					<el-radio-group v-model="edit.ruleForm.dataView">
						<el-radio v-for="item in radio.dataView" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="price">
					<template #label>
						08<span class="label">单价/小时、张、框</span>
						<p class="label-tips">或输入：不限、整包</p>
					</template>
					<el-input v-model="edit.ruleForm.price"></el-input>
				</el-form-item>
				<el-form-item prop="settMethod">
					<template #label>
						09<span class="label">结算方式</span>
					</template>
					<el-radio-group v-model="edit.ruleForm.settMethod">
						<el-radio v-for="item in radio.settMethod" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="signContract">
					<template #label>
						10<span class="label">签订合同</span>
					</template>
					<el-radio-group v-model="edit.ruleForm.signContract">
						<el-radio v-for="item in radio.signContract" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="weChat">
					<template #label>
						11<span class="label">微信</span>
					</template>
					<el-input v-model="edit.ruleForm.weChat"></el-input>
				</el-form-item>
				<el-form-item prop="phone">
					<template #label>
						12<span class="label">联系电话</span>
					</template>
					<el-input v-model="edit.ruleForm.phone"></el-input>
				</el-form-item>
				<el-form-item prop="email">
					<template #label>
						13<span class="label">电子邮箱</span>
					</template>
					<el-input v-model="edit.ruleForm.email"></el-input>
				</el-form-item>
				<el-form-item prop="proRequirement">
					<template #label>
						14<span class="label">项目需求</span>
						<p class="label-tips">请输入您的具体需求</p>
					</template>
					<el-input :autosize="true" v-model="edit.ruleForm.proRequirement" type="textarea"></el-input>
				</el-form-item>
			</el-form>
			<template #footer>
				<span class="dialog-footer">
					<el-button @click="pubCenter.dialogVisibleEdit = false">取消</el-button>
					<el-button type="primary" @click="pubCenter.dialogVisibleEdit = false">确定</el-button>
				</span>
			</template>
		</el-dialog>

		<!-- 查看 -->
		<el-dialog v-model="pubCenter.dialogVisibleSee" title="查看" width="1000px" :before-close="handleClose">
			<el-form ref="ruleFormRef" label-position="top" label-width="120px" class="see-ruleForm" :size="formSize">
				<el-form-item prop="proPublisher" label="项目发布方">
					<el-input readonly v-model="edit.ruleForm.proPublisher"></el-input>
				</el-form-item>
				<el-form-item prop="proName" label="项目名称">
					<el-input readonly v-model="edit.ruleForm.proName"></el-input>
				</el-form-item>
				<el-form-item prop="proType" label="项目类型">
					<el-radio-group disabled v-model="edit.ruleForm.proType">
						<el-radio v-for="item in radio.proType" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="proCategory" label="项目种类">
					<el-radio-group disabled v-model="edit.ruleForm.proCategory">
						<el-radio v-for="item in radio.proCategory" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="proCycle" label="项目周期">
					<el-input readonly v-model="edit.ruleForm.proCycle"></el-input>
				</el-form-item>
				<el-form-item prop="proAddress" label="项目地点">
					<el-input readonly v-model="edit.ruleForm.proAddress"></el-input>
				</el-form-item>
				<el-form-item prop="dataView" label="数据查看">
					<el-radio-group disabled v-model="edit.ruleForm.dataView">
						<el-radio v-for="item in radio.dataView" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="price" label="单价">
					<el-input readonly v-model="edit.ruleForm.price"></el-input>
				</el-form-item>
				<el-form-item prop="settMethod" label="结算方式">
					<el-radio-group disabled v-model="edit.ruleForm.settMethod">
						<el-radio v-for="item in radio.settMethod" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="signContract" label="签订合同">
					<el-radio-group disabled v-model="edit.ruleForm.signContract">
						<el-radio v-for="item in radio.signContract" :label="item.value">{{item.text}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item prop="weChat" label="微信">
					<el-input readonly v-model="edit.ruleForm.weChat"></el-input>
				</el-form-item>
				<el-form-item prop="phone" label="联系电话">
					<el-input readonly v-model="edit.ruleForm.phone"></el-input>
				</el-form-item>
				<el-form-item prop="email" label="电子邮箱">
					<el-input readonly v-model="edit.ruleForm.email"></el-input>
				</el-form-item>
				<el-form-item prop="proRequirement" label="项目需求">
					<el-input readonly :autosize="true" v-model="edit.ruleForm.proRequirement" type="textarea"></el-input>
				</el-form-item>
			</el-form>
			<template #footer>
				<span class="dialog-footer">
					<el-button type="primary" @click="pubCenter.dialogVisibleSee = false">关闭</el-button>
				</span>
			</template>
		</el-dialog>
	</div>
	<script type="module" src="./main.js"></script>
</body>

</html>